<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenido principal -->
  <div class="flex-grow-1">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Contenido general -->
    <div class="container mt-3">
      <h4 class="mb-4">Alertas de Lluvia en Trujillo</h4>

      <!-- Resumen Semanal -->
      <app-pronostico-horas></app-pronostico-horas>

      <div class="row mt-4">
        <!-- Estado General -->
        <div class="col-md-6 mb-3">
          <app-estado-general></app-estado-general>
        </div>

        <!-- Alertas por distrito -->
        <div class="col-md-6 mb-3">
          <app-alertas-distrito></app-alertas-distrito>
        </div>
      </div>

      <div class="row mt-3">
        <!-- Mapa -->
        <div class="col-md-6 mb-3">
          <app-mapa-alertas></app-mapa-alertas>
        </div>

        <!-- Recomendaciones -->
        <div class="col-md-6 mb-3">
          <app-recomendaciones></app-recomendaciones>
        </div>
      </div>
    </div>
  </div>
</div>
