<div class="card shadow-sm p-3 mb-3">
  <h5 class="mb-3 d-flex align-items-center">
    <i class="bi bi-cloud-sun me-2"></i> Estado General
  </h5>
  <div *ngIf="estado">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between border-0">
        <strong>Tipo de clima:</strong>
        <span>{{ estado?.tipo }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between border-0">
        <strong>Descripción:</strong>
        <span class="text-capitalize">{{ estado?.descripcion }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between border-0">
        <strong>Última actualización:</strong>
        <span>{{ estado?.fecha }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between border-0">
        <strong>Intensidad:</strong>
        <span>{{ estado?.intensidad }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between border-0">
        <strong>Visibilidad:</strong>
        <span>{{ estado?.visibilidad }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between border-0">
        <strong>Viento:</strong>
        <span>{{ estado?.viento }}</span>
      </li>
    </ul>
  </div>
</div>
