<div class="card shadow-sm p-3 mb-3">
  <h5 class="mb-3 d-flex align-items-center">
    <i class="bi bi-cloud-sun me-2"></i> Estado General
  </h5>
  <div *ngIf="estado">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Tipo de clima:</strong> {{ estado?.tipo }}
      </li>

      <li class="list-group-item">
        <strong>Descripción:</strong> {{ estado?.descripcion }}
      </li>
      <li class="list-group-item">
        <strong>Última actualización:</strong> {{ estado?.fecha }}
      </li>
      <li class="list-group-item">
        <strong>Intensidad:</strong> {{ estado?.intensidad }}
      </li>
      <li class="list-group-item">
        <strong>Visibilidad:</strong> {{ estado?.visibilidad }}
      </li>
      <li class="list-group-item">
        <strong>Viento:</strong> {{ estado?.viento }}
      </li>
    </ul>
  </div>
</div>
